<app-header></app-header>

<div class="container" *ngIf="!this.isMobile">
	<app-loader class="app-loader" *ngIf="isLoading"></app-loader>
	<mat-grid-list cols="12" gutterSize="15px" *ngIf="!isLoading">
		<mat-grid-tile colspan="2" class="mat-elevation-z3">
			<app-source [sources]="sources" *ngIf="sources.length > 0"></app-source>
		</mat-grid-tile>

		<mat-grid-tile colspan="4" class="mat-elevation-z3">
			<app-headline [headlines]="headlines" *ngIf="headlines.length > 0"></app-headline>
		</mat-grid-tile>

		<mat-grid-tile colspan="6">
			<app-article *ngIf="article"></app-article>
		</mat-grid-tile>
	</mat-grid-list>
</div>

<div class="container" *ngIf="this.isMobile">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<app-source [sources]="sources" *ngIf="sources.length > 0" [isMobile]="isMobile"></app-source>
		</mat-grid-tile>
		<mat-grid-tile>
			<app-headline [headlines]="headlines" *ngIf="headlines.length > 0" [isMobile]="isMobile"></app-headline>
		</mat-grid-tile>
		<mat-grid-tile colspan="2">
			<app-article *ngIf="article"></app-article>
		</mat-grid-tile>
	</mat-grid-list>

	
</div>