<mat-toolbar class="section-header mat-elevation-z3">
	<mat-form-field class="example-full-width">
		<input type="text" placeholder="Search for articles" aria-label="Number" matInput [matAutocomplete]="auto"
			#search>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCurrentArticle($event.option.value)"
			[displayWith]="getOptionText">
			<mat-option *ngFor="let option of options" [value]="option">
				{{option.title}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</mat-toolbar>

<!-- <mat-card> -->
<div style="padding: 1rem;">
	<h3>{{article?.title}}</h3>
	<h4>{{article?.author}} - <small>{{article?.publishedAt | date}}</small></h4>
	<img mat-card-image [src]="getImage(article)" alt="Photo" class="inverted article-img mat-elevation-z5">
	<p>
		{{article?.content}} <a [href]="article?.url" target="_blank">[Read More]</a>
	</p>
</div>


<!-- </mat-card> -->