<mat-toolbar color="basic" class="mat-elevation-z8">
	<span>NG NEWSAPP <small style="font-size: 10px; font-style: italic;">Powerd by NewsAPI</small></span>
	<!-- <button mat-raised-button color="primary" style="margin-left: 20px;">Download App</button> -->
	<span class="spacer"></span>

	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
		<mat-icon>language</mat-icon> - {{defaultLanguage?.code}}
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item *ngFor="let language of languageSelection" (click)="changeLanguage(language)">
			<span>{{language.name}} - {{language.code}}</span>
		</button>
	</mat-menu>
</mat-toolbar>