<mat-toolbar color="basic" class="header mat-elevation-z8">
	<span>TNO <small style="font-size: 12px;">Powerd by NewsAPI</small></span>
	<!-- <button mat-raised-button color="primary" style="margin-left: 20px;">Download App</button> -->
	<span class="spacer"></span>

	<button mat-icon-button [matMenuTriggerFor]="settings">
		<mat-icon>settings</mat-icon>
	</button>
	<mat-menu #settings="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="language">
			<mat-icon>language</mat-icon>
			Language
		</button>
		<button mat-menu-item>
			<mat-slide-toggle (change)="handleChangeTheme($event)" [checked]="theme === 'dark'">Dark Mode</mat-slide-toggle>
		</button>
	</mat-menu>

	<mat-menu #language="matMenu">
		<button mat-menu-item *ngFor="let language of languageSelection" (click)="changeLanguage(language)">{{language.name}}</button>
	</mat-menu>
</mat-toolbar>