/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700;900&display=swap');

html, body {
	height: 100%;
	font-family: 'Fira Sans', sans-serif !important;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif !important;
	background-color: #303030;
	color: #ffffff;
	overflow: hidden;
}

.mat-typography, .mat-toolbar, .mat-list-option, .mat-card, .mat-form-field {
	font-family: 'Fira Sans', sans-serif !important;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: darkgrey;
	border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: rgb(90, 90, 90);
}

.container {
	padding: 1.25rem 2rem 0 2rem;
	height: calc(100% - 64px);
}