<ng-container *ngIf="!isMobile">
	<mat-toolbar class="section-header mat-elevation-z3">
		<span>Sources</span>
	</mat-toolbar>

	<mat-selection-list [multiple]="false" (selectionChange)="onSourceChange()" [(ngModel)]="source">
		<mat-list-option *ngFor="let source of sources; let i = index" [value]="source.id"
			[ngClass]="{'selected': currentSource.id == source.id}" role="option"> {{source.name}} </mat-list-option>
	</mat-selection-list>
</ng-container>

<ng-container *ngIf="isMobile">
	<mat-form-field appearance="fill">
		<mat-label>Sources</mat-label>
		<mat-select (selectionChange)="onSourceChange()" [(ngModel)]="source">
			<mat-option *ngFor="let source of sources; let i = index" [value]="source.id">
				{{source.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</ng-container>